html, body {
    height: 100%;
    font-size: 1rem;
}

#logo {
    height:40px;
}

#header-img {
    height:500px;
}

#feature-img {
    height:500px;
}

.gradient {
    background: rgb(141,148,230);
    background: linear-gradient(90deg, rgba(141,148,230,1) 0%, rgba(108,177,137,1) 100%);
}

.page-header {
    margin-top:4rem;
    font-size: 1.25rem;
    color:white;
    font-family: 'Merriweather', serif;
}

.feature {
    color:white;
    font-family: 'Merriweather', serif;
}

.feature ul {
    padding-left:2rem;
    list-style-type:none;
}

.feature ul li {
    padding-left:2rem;
    background-image:url(wheel-icon.svg);
    background-repeat:no-repeat;
    line-height:1.5rem;
    margin-bottom:1 rem;
}

.icon {
    color:#fff;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius:100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
     
}

.gallery {
    background-color:whitesmoke;
}

.gallery img {
    width: 100%;
    height:30rem;
    border-radius: 5%;

}

.parts img {
    height: 25rem;
    width: 25rem;
}

.parts {
    color: white;
}

.contact img {
    width: 100%;
    border-radius: 20px;
}

footer {
    color:white;
    font-size: 1rem;
    margin: 0;
    padding: 1rem;
    
}